/* InstructionModal.css */
  
  .modal-content {
    width: 100%;
    max-width: 100%;
    background: #fff;
    padding: 20px 100px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
  
  .modal-content h2,
  .modal-content p,
  .modal-content ol {
    color: black;
  }
  
  .modal-content button {
    background: black;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 765px){
    .modal-content {
       position: absolute;
       top: 0;
       right: 0;
      }
  }