.queueing-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}

.queueing{
  width: 100vw;
  overflow-x: scroll;
  padding: 2rem 3rem;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}


@media screen and (max-width: 765px){
  .queueing{
     grid-template-columns: 1fr;
  }
}
